<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block pageTitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"> -->
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/lib/normalize.css" rel="stylesheet">
    <link href="/static/css/lib/skeleton.css" rel="stylesheet">
    <link href="/static/css/lib/tipsy.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    {% block head %}{% endblock %}

  </head>

  <body>

    {% block body %}{% endblock %}

    <!-- load scripts -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->
    <script src="/static/javascript/lib/ajaxCSRF.js"></script>
    <script src="/static/javascript/lib/tipsy.js"></script>
    <script src="/static/javascript/index.js"></script>

  </body>
</html>
