<div id="room-dialog" title="Add a New Room">
    <div class="form">
        <input class="u-full-width" type="text" id="newRoomName" placeholder="New room name">
        <input class="button-primary" type="submit" id="newRoomButton" value="Add">
    </div>
</div>


<div id="station-dialog" title="Add a New Station">
    <div class="form">
        <input class="u-full-width" type="text" id="newStationName" placeholder="New station name">
        <input class="u-full-width" type="text" id="newStationIp" placeholder="New station IP address">
        <select class="u-full-width" id="roomOptions">
            {% for room in rooms %}
            <option class="text">{{ room.name }}</option>
            {% endfor %}
        </select>
        <input class="button-primary" type="submit" id="newStationButton" value="Add">
    </div>
</div>


<div id="item-dialog" title="Add a New Item">
    <div class="form">
        <input class="u-full-width" type="text" id="newItemName" placeholder="Item name">
        <input class="u-full-width" type="text" id="newItemBeaconId" placeholder="Item beaconId">
        <input class="u-full-width" type="text" id="newItemRoom" placeholder="Item room">
        <input class="button-primary" type="submit" id="newItemButton" value="Add">
    </div>
</div>

<div id="pollFreq-dialog" title="Polling Frequnecy Updated!">
  Polling Frequency Updated!
</div>