{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1 class="header text"> Placeholder </h1>

    <div class="row section" align="center">
      <div class="form">
        Polling Frequency: <input type="number" pattern='[0-9]{10}' id="newPollFreq" placeholder={{ pollingFrequency }}>
        <input class="button-primary" type="submit" id="setPollFreq" value="Save">
      </div>

        <table class="u-full-width">
            <thead>
                <tr>
                    <th class="four columns text title">
                        Rooms &nbsp; <span class="glyphicon glyphicon-plus" id="newRoomOpenDialog"></span>
                    </th>
                    <th class="four columns text title">
                        Stations &nbsp; <span class="glyphicon glyphicon-plus" id="newStationOpenDialog"></span>
                    </th>
                    <th class="four columns text title">
                        Items &nbsp; <span class="glyphicon glyphicon-plus" id="newItemOpenDialog"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="four columns no-boarder">
                        <ul class="popover-list" id="rooms-list">
                            {% for room in rooms %}
                            <li class="popover-item">
                                <a class="text-link">{{ room.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="four columns no-boarder">
                        <ul class="popover-list" id="stations-list">
                            {% for station in active_stations %}
                            <li class="popover-item">
                                <a class="text-link active">
                                    <div class="name">{{ station.name }}</div>
                                    <div class="info"> id: </div>
                                    <div class="info id">{{ station.id }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info ipAddress">{{ station.ipAddress }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info station-room">{{ station.room.name }}</div>
                                </a>
                            </li>
                            {% endfor %}
                            {% for station in inactive_stations %}
                            <li class="popover-item">
                                <a class="text-link inactive">
                                    <div class="name">{{ station.name }}</div>
                                    <div class="info"> id: </div>
                                    <div class="info id">{{ station.id }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info ipAddress">{{ station.ipAddress }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info station-room">{{ station.room.name }}</div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="four columns no-boarder">
                        <ul class="popover-list" id="items-list">
                            {% for item in active_items %}
                            <li class="popover-item">
                                <a class="text-link active">
                                    <div class="name">{{ item.name }}</div>
                                    <div class="info beaconId">{{ item.beaconId }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info item-room">{{ item.room.name }}</div>
                                    <div class="info searchBtnInfo"><button class="button-primary searchItemBtn">Search</button></div>
                                </a>
                            </li>
                            {% endfor %}
                            {% for item in inactive_items %}
                            <li class="popover-item">
                                <a class="text-link inactive">
                                    <div class="name">{{ item.name }}</div>
                                    <div class="info beaconId">{{ item.beaconId }}</div>
                                    <div class="info">&nbsp; | &nbsp;</div>
                                    <div class="info item-room">{{ item.room.name }}</div>
                                    <div class="info searchBtnInfo"><button class="button-primary searchItemBtn">Search</button></div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="row section">

        <table class="u-full-width">
            <thead>
                <tr>
                    <th class="four columns no-boarder"></th>
                    <th class="four columns title text">Unregistered Stations</th>
                    <th class="four columns title text">Unregistered Items</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="four columns no-boarder"></td>
                    <td class="four columns no-boarder">
                        <ul class="popover-list" id="unregisteredStations-list">
                        </ul>
                    </td>
                    <td class="four columns no-boarder unregistered-items">
                        <ul class="popover-list" id="unregisteredItems-list">
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    {% include "dialogs.html" %}


</div>

{% endblock %}